header{
    background-image: linear-gradient(#357F51, #357F51 60%, #357F51);
    color: #fff;
    min-height: 80px;

    padding-top: 10px;
}
#logo{
    height: 60px;
}

header form{
    float: right;
}
header .logo{
    float: left;
}

.panel-heading{
    background-image: var(--main-color);
    /* background-image: linear-gradient(#357F51, #357F51 60%, #357F51); */
    color: #fff !important;
}
:root {
    --main-color:linear-gradient(#357F51, #357F51 60%, #357F51);
}

.searchMiddle{
    padding-top: 10px;
}
.logoutPrivateHeader{
    padding-top: 10px;
    padding-right: 10px;
}